@font-face {
  font-family: 'MyriadPro Bold';
  src: url("../assets/font/MyriadPro-Bold.otf"); }
@font-face {
  font-family: 'MyriadPro BoldCond';
  src: url("../assets/font/MyriadPro-BoldCond.otf"); }
@font-face {
  font-family: 'MyriadPro BoldCondIt';
  src: url("../assets/font/MyriadPro-BoldCondIt.otf"); }
@font-face {
  font-family: 'MyriadPro BoldIt';
  src: url("../assets/font/MyriadPro-BoldIt.otf"); }
@font-face {
  font-family: 'MyriadPro Cond';
  src: url("../assets/font/MyriadPro-Cond.otf"); }
@font-face {
  font-family: 'MyriadPro CondIt';
  src: url("../assets/font/MyriadPro-CondIt.otf"); }
@font-face {
  font-family: 'MyriadPro It';
  src: url("../assets/font/MyriadPro-It.otf"); }
@font-face {
  font-family: 'MyriadPro Regular';
  src: url("../assets/font/MyriadPro-Regular.otf"); }
@font-face {
  font-family: 'MyriadPro Semibold';
  src: url("../assets/font/MyriadPro-Semibold.otf"); }
@font-face {
  font-family: 'MyriadPro SemiboldIt';
  src: url("../assets/font/MyriadPro-SemiboldIt.otf"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f1cb36;
  font-family: 'MyriadPro Regular', sans-serif;
  cursor: default;
  text-decoration: none;
  list-style: none; }

.box-img {
  width: 100%; }

html,
body {
  height: 100vh;
  width: 100%;
  background: #0d0213;
  position: relative; }

/*header*/
.header {
  width: 100%; }

.header .header__container {
  width: 100%; }
  .header .header__container:first-child {
    background: #1e1c42; }
  .header .header__container:last-child {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: url("../assets/pictures/png/header_bg.png") no-repeat 50% 50%;
    background-size: 100%; }
  .header .header__container:first-child .header-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .header .header__container:last-child .header-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 15px auto auto; }

.header-logo,
.header-logo-link {
  max-height: 20px; }

.header-caption {
  max-width: 143px;
  font-family: "MyriadPro Regular", sans-serif;
  font-weight: lighter;
  font-size: 34px;
  line-height: 0.95;
  text-align: justify;
  margin: auto 0 20px auto; }

.header-caption--bold {
  text-transform: uppercase;
  font-family: "MyriadPro Bold", sans-serif;
  font-size: 22px; }

.header-caption--big {
  text-transform: uppercase;
  font-family: "MyriadPro Bold", sans-serif;
  font-size: 34px;
  letter-spacing: 1.2px; }
  .header-caption--big:last-child {
    font-size: 40px;
    letter-spacing: 1.4px; }

.header-caption--wide {
  font-size: 42px;
  letter-spacing: 1.2px; }

.header-text {
  max-width: 143px;
  color: white;
  font-size: 14px;
  margin: 0 0 20px auto; }

.header-text--yellow {
  font-family: "MyriadPro Semibold", sans-serif; }

.header-btn-wrapper {
  position: relative;
  width: 160px;
  height: 45px; }
  .header-btn-wrapper:before {
    position: absolute;
    content: '';
    width: 164px;
    height: 49px;
    top: -2px;
    left: -2px;
    z-index: 1;
    border-radius: 15px;
    background: #f2cd38;
    background: -moz-linear-gradient(top, #ffdc00 49%, #ffc300 50%);
    background: -webkit-linear-gradient(top, #ffdc00, #ffc300 50%);
    background: linear-gradient(to bottom, #ffdc00 49%, #ffc300 50%); }

.header-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-radius: 14px;
  font-size: 15px;
  font-family: "MyriadPro Bold", sans-serif;
  text-transform: uppercase;
  color: #0c0c0c;
  background: #f2cd38;
  background: -moz-linear-gradient(top, #ffe100 0%, #ffce00 489%, #ffac00 50%, #ff9000 100%);
  background: -webkit-linear-gradient(top, #ffe100 0%, #ffce00 49%, #ffac00 50%, #ff9000 100%);
  background: linear-gradient(to bottom, #ffe100 0%, #ffce00 49%, #ffac00 50%, #ff9000 100%); }

/*end*/
/*main*/
.wrapper {
  max-width: 1200px;
  width: 100%;
  position: relative;
  margin: 0 auto; }

.container {
  width: 100%; }
  .container:first-child {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../assets/pictures/png/body_one_gradient.png") no-repeat 50% 0;
    background-size: 100%; }
  .container:first-child .container-caption {
    text-transform: uppercase;
    text-align: center;
    font-family: "MyriadPro Bold", sans-serif;
    font-size: 28px;
    margin-bottom: 20px; }
  .container:first-child .box {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px; }
    .container:first-child .box:last-child {
      margin-bottom: 0; }
  .container:first-child .box .box-img {
    width: 50px; }
  .container:first-child .box .box-text {
    color: white;
    font-size: 18px;
    width: calc(100% - 60px); }
  .container:first-child .box .box-text--yellow {
    font-family: "MyriadPro Semibold", sans-serif; }
  .container:nth-child(2) {
    position: relative;
    width: 100%;
    background: #f2cd38;
    background: -moz-linear-gradient(top, #dfb845 0%, #dfb73f 50%, #dfb845 100%);
    background: -webkit-linear-gradient(top, #dfb845 0%, #dfb73f 50%, #dfb845 100%);
    background: linear-gradient(to bottom, #dfb845 0%, #dfb73f 50%, #dfb845 100%);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around; }
  .container:nth-child(2) .box {
    width: 25%; }
  .container:nth-child(2) .box .box-icon {
    max-width: 15px; }
  .container:nth-child(2) .box .box-caption, .container:nth-child(2) .box .box-text {
    color: black; }

/*# sourceMappingURL=style.css.map */
